/* @font-face {
    font-family: BebasNeueRegular;
    src: url(fonts/BebasNeue-webfont.woff);
}

@font-face {
    font-family: Alegreya-Regular;
    src: url(fonts/Alegreya-Regular.ttf);
}

@font-face {
    font-family: Ubuntu-Medium;
    src: url(fonts/Ubuntu-Medium.ttf);
}

@font-face {
    font-family: Ubuntu-Regular;
    src: url(fonts/Ubuntu-Regular.ttf);
} */



.ac-container{
	width: 270px;
	text-align: left;
	overflow-y: auto;
	overflow-x: auto;
	height: auto;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	/* border-top: 1px solid#b4d2df; */

}

div[id^="leaflet-control-accordion-layers"] > label {
	font-family: 'Roboto Condensed', 'Arial Narrow', Arial, sans-serif;
	padding: 5px 15px 5px 10px;
	position: relative;
	z-index: 20;
	display: block;
	height: 30px;
	cursor: pointer;
	color: #777;
	/* text-shadow: 1px 1px 1px rgba(255,255,255,0.8); */
	line-height: 32px;
	font-size: 20px;
	font-weight: 700;
	/* background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
	background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: linear-gradient(top, #ffffff 1%,#eaeaea 100%); */
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
	box-shadow:
		0px 0px 0px 1px rgba(155,155,155,0.3),
		1px 0px 0px 0px rgba(255,255,255,0.9) inset,
		0px 2px 2px rgba(0,0,0,0.1); */
    box-sizing: content-box;
    cursor:pointer;
    width: auto;
    margin: 0;
}
/* div[id^="leaflet-control-accordion-layers"] > label:hover {
	background: #fff;
} */

.ac-container input.menu + label{
	background: #c9eaf8;
	color: #184e85;
	outline: 1px solid #b4d2df;
	/* border-bottom: 1px solid #184e85; */
	/* text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
	box-shadow:
		0px 0px 0px 1px rgba(155,155,155,0.3),
		0px 2px 2px rgba(0,0,0,0.1); */
}

.label-icon{
	height: 22px;
	float: left;
	margin-right: 5px;
	padding: 4px 0;
}

.ac-container input.menu:checked + label:after{
	content: '\2013';
	color: #184e85;
	font-size: 18px;
	font-family:'Roboto',sans-serif;
	font-weight: 700;
	float: right;
	margin-left: 5px;
}

.ac-container input.menu + label:after{
	content: '+';
	color: #184e85;
	font-size: 18px;
	font-family:'Roboto',sans-serif;
	font-weight: 500;
	float: right;
	margin-left: 5px;
}

.ac-container input.menu + label:hover{
	background: #b2e1f5;
	/* text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
	box-shadow:
		0px 0px 0px 1px rgba(155,155,155,0.3),
		0px 2px 2px rgba(0,0,0,0.1); */
}

.ac-container input.menu + div[id^="leaflet-control-accordion-layers"] > label:after{
	content: '-';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
	/* background: transparent url(images/arrow_down.png) no-repeat center center; */
}


.ac-container input.menu{
	display: none;
}
.ac-container article{
	background: rgba(255, 255, 255, 0.5);
	/* margin-top: -2px; */
	overflow: hidden;
	max-height: 0px;
	height: 0px;
    padding: 0px;
    line-height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.4s ease-out;
	-moz-transition:  height 0.4s ease-out;
	-o-transition: height 0.4s ease-out;
	-ms-transition:  height 0.4s ease-out;
	transition:  height 0.4s ease-out;
}

.ac-container input.menu:checked ~ article{
	-webkit-transition: height 0.5s ease-out;
	-moz-transition:  height 0.5s ease-out;
	-o-transition:  height 0.5s ease-out;
	-ms-transition:  height 0.5s ease-out;
	transition:  height 0.5s ease-out;
}

.ac-container input.menu:checked ~ article.ac-large{
	height: auto; 
	max-height : 200px; /* increasing from 100px to account for more legend content */
	padding: 8px 0;
	overflow-y: auto;
    line-height: 18px;
}

.ac-container article label {
    display: inline;
    cursor: pointer;
	font-size: 13px;
}

.ac-container .group-toggle-container {
    text-align: right;
    margin-right: 3px;
    line-height: 0px;
    display: none;
    height: 20px;
}

.ac-container input.menu:checked ~ .group-toggle-container {
    display: block;
	line-height: 1em;
}

.menu-item-radio{
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 13px;
	line-height:1.5;
	margin-left: 10px;

}

.menu-item-checkbox{
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 13px;
	line-height:1.5;
	margin-left: 10px;

}

.bt_delete{
    position: relative;
	float: right;
	background-image: url(images/delete.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    border: none;
    cursor: pointer;
    height: 16px;
    width: 16px;
    vertical-align: middle;
}

.leaflet-control-layers-expanded {
    padding: 0px;
	border: none;
}

.leaflet-control-layers-selector {
	margin-right: 5px;
}

.active-layer{
	font-weight: 700;
} 

.active-layer div.legend-panel{
	display: block;
}

.legend-panel{
	font-weight: 400;
	display: none;
	padding: 5px;
}

.ac-large-transition{
	overflow: hidden;
}

#styledLayerControl-utilities{
	/* background: #ebebec; */
	background: #e0e0e0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	color: #184e85;
	border-top: 1px solid #cfcfd0;
	font-family: 'Roboto',sans-serif;
	font-size: 12px;
	font-weight: 700;
	padding: 0;
	width: 270px;
	/* text-align: center;  */
	/* margin: auto;
	display: flex;
	justify-content: space-between; */
}

.legend-radio-group{
	display: inline-flex;
	flex: 1;
	overflow: hidden;
	/* border: 1px solid #ccc; */
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.radio__input{
	display: none;
}

.radio__input:checked + .radio__label{
	background: #f7f7f7;
	/* color: #184e85; */
	color: #2d2d2d;
	font-weight: 500;
	outline: 1px solid #cfcfd0;
}
.radio__label{
	/* padding: 5px 25px; */
	color: #5b5b5b;
	cursor: pointer;
	font-weight: 400;
	margin: auto;
	padding: 4px 0px;
	text-align: center;
	width: 135px;
	/* transition: background 0.1s; */
}

.radio__label:hover{
	background: #d3d3d4;
	color: #2474c6;
}

/* #styledLayerControl-utilities button{
	cursor: pointer;
	font-family: 'Roboto',sans-serif;
	font-weight: 500;
} */

#styledLayerControl-utilities .close-btn{
	height: 24px;
	/* width: 24px; */
	/* display: inline-block;
	vertical-align: middle; */
}

/* #styledLayerControl-utilities svg{
	display: inline-block;
	vertical-align: middle;
}

.close-btn{
	background: none;
	border: none;
}

.close-btn:hover{
	background: none;
	color: #2474c6;
}

.close-btn svg{
	height: 14px;
	width: 14px;
	fill: #868686;
	stroke: #868686;
	stroke-width: 3px;
}

.close-btn:hover svg{
	fill: #2474c6;
}

.legend-toggle svg{
	height: 14px;
	width: 14px;
	fill: #184e85;
}

.legend-toggle{
	border: none;
	border-radius: 3px;
	color: #184e85;
} */

/* .legend-toggle:hover svg{
	fill: #2474c6;
}

.legend-toggle:hover{
	color: #2474c6;
} */

/* #styledLayerControl-utilities button:hover svg{
	fill: #2474c6;
} */

/* #styledLayerControl-utilities button:hover{
	background: none;
	color: #2474c6;
} */

/* #styledLayerControl-utilities a{
	color: #184e85;

} */
/* #styledLayerControl-utilities a:hover{
	color: #2474c6;
} */

.leaflet-touch .leaflet-control-layers-toggle{
    background-clip: padding-box;
	border: 2px solid #b2b2b2;
	box-shadow: none;
	border-radius: 5px;
}

.leaflet-control-layers-toggle{
	background-image: url('../images/layers.svg');
	background-size: 28px;
}

.leaflet-control-layers-toggle:hover{
	background-color: #ebebec;
	box-shadow: none;
}
 /* .leaflet-control-layers:hover {
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	background: #e0e3ec url(images/bgnoise_lg.jpg) repeat top left;
	border-radius: 5px;
}  */

/* Prevents scrollbar from unnessarily appearing when last folder is closed (-jmaurer): */

/* .leaflet-control-layers-overlays {
    margin-bottom: 2px;
} */


.leaflet-touch .leaflet-control-layers {
	border: none;
	box-shadow: 0 0 5px rgb(0 0 0 / 20%);
}

.layer-label{
	display:table-cell;
	padding-right: 5px;
}

#wave-options{
	font-weight: 400;
	font-size: 13px;
	padding-left: 20px;
}
/* Styles for legend entries in active/inactive states -KF */

/* .legend-panel{
	display: none;
	margin-left: 22px;
}

.legend-header{
	font-weight: 400;
	margin-left: 2px;
}

.active-legend div.legend-panel{
   	display: block;
}

.active-legend span.legend-header{
	font-weight: 700;
} */

/* .slider-container input.menu:checked + label,
.slider-container input.menu:checked + label:hover{
	background: #c6e1ec;
	color: #3d7489;
	text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
	box-shadow:
		0px 0px 0px 1px rgba(155,155,155,0.3),
		0px 2px 2px rgba(0,0,0,0.1);
}
.slider-container div[id^="leaflet-control-accordion-layers"] > label:hover:after,
.slider-container input.menu:checked + div[id^="leaflet-control-accordion-layers"] > label:hover:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
	background: transparent url(images/arrow_down.png) no-repeat center center;
}
.slider-container input.menu:checked + div[id^="leaflet-control-accordion-layers"] > label:hover:after{
	background-image: url(images/arrow_up.png);
}
.slider-container input.menu{
	display: none;
}

.slider-container article{
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
    padding: 0px;
    line-height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.slider-container input.menu:checked ~ article{
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
}

.slider-container input.menu:checked ~ article.ac-large{
	height: auto;
	padding: 30px 100px 30px 50px;
	overflow-y: hidden;
    line-height: 18px;
} */
