.leaflet-touch .leaflet-control-layers {
	border: none;
	box-shadow: 0 0 5px rgb(0 0 0 / 20%);
	margin-right: 10px;
	margin-top: 10px;
}

#styledLayerControl{
	background-color: transparent;
	box-shadow: 0 0 5px rgb(0 0 0 / 20%);
	width: 260px;
	border-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.ac-container{
	background: #fff;
	text-align: left;
	overflow-y: auto;
	overflow-x: auto;
	height: auto;
	/* border-top: 1px solid#b4d2df; */
}

.control-wrapper{
	width: 100%;
	max-height: calc(100vh - 55px);
	overflow: hidden;
	-webkit-transition: max-height 0.3s ease-out;
	-moz-transition: max-height 0.3s ease-out;
	-o-transition: max-height 0.3s ease-out;
	-ms-transition: max-height 0.3s ease-out;
	transition:  max-height 0.3s ease-out, visibility 0.3s;
}

.layers-accordion-btn{
	background: #dcf0f7;
	box-sizing: border-box;
	border: 0px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #14416f;
	font-family: 'Roboto Flex', 'Arial Narrow', Arial, sans-serif;
	font-weight: 700;
	font-size: 19px;
	font-stretch: 75%;
	letter-spacing: 0.25px;
	padding: 0px 15px;
	position: relative;
	z-index: 20;
	display: block;
	line-height: 38px;
	height: 36px;
	cursor: pointer;
	width: 100%;
	text-align: left;
}

.layers-accordion-btn:hover,
.layers-accordion-btn:focus-visible{
	background: #c9eaf8;
}
.layers-accordion-container.layer-control-hidden + .control-wrapper{
	max-height: 0px;
	visibility: hidden;
	/* display: none; */
}

.layers-accordion-container.layer-control-hidden .layers-accordion-btn{
	border-radius: 5px;
}

.layers-accordion-btn:after{
	content: '';
	height: 36px;
	width: 18px;
	background-image: url('../images/double_arrow_up.svg');
	background-size: 18px 18px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	/* color:#333;
	font-size: 18px;
	font-family:'Roboto Flex',sans-serif;
	font-weight: 700; */
	float: right;
}

.layers-accordion-container.layer-control-hidden .layers-accordion-btn:after{
	background-image: url('../images/double_arrow_down.svg');
}

div[id^="leaflet-control-accordion-layers"] > button {
	font-family: 'Roboto Flex', 'Arial Narrow', Arial, sans-serif;
	font-weight: 600;
	font-size: 15px;
	/* font-stretch: 75%; */
	padding: 8px 15px;
	position: relative;
	z-index: 20;
	display: block;
	height: 32px;
	cursor: pointer;
	/* color: #777; */
	/* text-shadow: 1px 1px 1px rgba(255,255,255,0.8); */
    cursor:pointer;
	overflow: hidden;
    width: 100%;
	text-align: left;
    margin: 0;
}
/* div[id^="leaflet-control-accordion-layers"] > label:hover {
	background: #fff;
} */

.ac-container-accordion,
.ac-container input.menu + label{
	box-sizing: border-box;
	border-top: 0.5px solid #d8d8d9;
	border-right: 0;
	border-left: 0;
	border-bottom: 0;
	/* background: #c9eaf8; */
	background:rgba(220,240,247,0);
	/* color: #184e85; */
	color: #333;
}

#leaflet-control-accordion-layers-0 .ac-container-accordion{
	border-top: 0;
}
/* .ac-container-accordion.accordion-content-hidden{
	background: #fff;
} */

.label-icon{
	height: 20px;
	float: left;
	margin-right: 5px;
	padding: 4px 0;
}

.ac-container-accordion:after,
.ac-container input.menu:checked + label:after{
	content: '';
	height: 15px;
	width: 15px;
	background-image: url('../images/arrow_up_blk.svg');
	background-size: 14px 14px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	/* color:#333;
	font-size: 18px;
	font-family:'Roboto Flex',sans-serif;
	font-weight: 700; */
	float: right;
	opacity: 75%;
}


.ac-container-accordion.accordion-content-hidden:after,
.ac-container input.menu + label:after{
	background-image: url('../images/arrow_down_blk.svg');
}

.ac-container-accordion:hover,
.ac-container input.menu + label:hover{
	background: rgba(220,240,247,0.8);
	/* text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
	box-shadow:
		0px 0px 0px 1px rgba(155,155,155,0.3),
		0px 2px 2px rgba(0,0,0,0.1); */
}

.ac-container input.menu + div[id^="leaflet-control-accordion-layers"] > label:after{
	content: '-';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
	/* background: transparent url(images/arrow_down.png) no-repeat center center; */
}


.ac-container input.menu{
	display: none;
}

.ac-container-accordion.accordion-content-hidden ~ article.ac-large{
	max-height: 0px;
	padding: 0px;
	visibility: hidden;
	/* display: none; */
}

.ac-container article{
	/* background: rgba(255, 255, 255, 0.5); */
	/* border-bottom: 0.5px solid #d8d8d9; */
	/* margin-top: -2px; */
	overflow: hidden;
	max-height: 0px;
	height: 0px;
    /* padding: 8px 0; */
    line-height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: max-height 0.3s ease-out;
	-moz-transition: max-height 0.3s ease-out;
	-o-transition: max-height 0.3s ease-out;
	-ms-transition: max-height 0.3s ease-out;
	transition:  max-height 0.3s ease-out;
}

.ac-container input.menu:checked ~ article,
.ac-container-accordion ~ article{
	-webkit-transition: max-height 0.3s ease-out;
	-moz-transition: max-height 0.3s ease-out;
	-o-transition:  max-height 0.3s ease-out;
	-ms-transition: max-height 0.3s ease-out;
	transition:  max-height 0.3s ease-out, visibility 0.3s;
}

.ac-container-accordion ~ article.ac-large{
	height: auto; 
	max-height : 300px; /* increasing from 100px to account for more legend content */
	overflow-y: auto;
    line-height: 18px;
}

/* .accordion-highlight{
	fill: #184e85;
	height: 32px;
	width: 5px;
	float: left;
	margin-left:-10px;
	margin-top: -2px;
	margin-right: 10px;
	padding: 0;
}

.ac-container-accordion.accordion-content-hidden .accordion-highlight{
	fill: none;
} */

.wrapper{
	padding: 4px 0 8px 0;
}

.ac-container article label {
    display: inline;
    cursor: pointer;
	font-size: 13px;
}

.ac-container .group-toggle-container {
    text-align: right;
    margin-right: 3px;
    line-height: 0px;
    display: none;
    height: 20px;
}

.ac-container input.menu:checked ~ .group-toggle-container {
    display: block;
	line-height: 1em;
}

.menu-item-radio{
	font-family: 'Roboto Flex', Arial, sans-serif;
	font-size: 13px;
	line-height:1.5;
	margin-left: 10px;

}

.menu-item-checkbox{
	font-family: 'Roboto Flex', Arial, sans-serif;
	font-size: 13px;
	line-height:1.5;
	margin-left: 10px;
}

/* .bt_delete{
    position: relative;
	float: right;
	background-image: url(images/delete.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    border: none;
    cursor: pointer;
    height: 16px;
    width: 16px;
    vertical-align: middle;
} */

.leaflet-control-layers-expanded {
    padding: 0px;
	border: none;
}

.leaflet-control-layers-selector {
	margin-right: 5px;
}

.active-layer{
	font-weight: 650;
	font-stretch: 90%;
} 

.active-layer div.legend-panel,
.active-layer ~ div.legend-panel{
	display: block;
}

.active-layer div.legend-panel-inline{
	display: inline;
}

.legend-panel{
	font-weight: 400;
	display: none;
	padding: 2.5px 5px;
}

.legend-panel-inline{
	font-weight: 400;
	display: none;
	/* padding-left: 3px; */
}

#styledLayerControl-utilities{
	/* background: #ebebec; */
	background: #e4e4e4;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	/* color: #184e85; */
	border-top: 0.5px solid #d8d8d9;
	font-family: 'Roboto Flex',sans-serif;
	font-size: 13px;
	font-weight: 700;
	line-height: 1.5;
	padding: 0;
	/* text-align: center;  */
	/* margin: auto;
	display: flex;
	justify-content: space-between; */
}

.legend-radio-group{
	display: inline-flex;
	flex: 1;
	overflow: hidden;
	/* border: 1px solid #ccc; */
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.legend-button{
	background: inherit;
	border: 0px;
	color: #3d3d3d;
	color: #636363;
	cursor: pointer;
	font-family: inherit;
	font-weight: 400;
	font-size: inherit;
	margin: auto;
	padding: 7px 0px;
	text-align: center;
	width: 130px;
	/* outline: 1px solid #cfcfd0; */
}

.legend-button:hover{
	background: #d3d3d4;
	color: #2474c6;
}

/* .legend-button:focus{
	border:2px solid #000;
} */

.active-view:hover{
	background: #fff;
	color: #2d2d2d;
	/* outline: 1px solid #cfcfd0; */
}

.active-view{
	background: #fff;
	/* box-shadow: inset 0 0 0 1px #a5a5a6; */
	color: #2d2d2d;
	font-weight: 600;
	/* outline: 1px solid #cfcfd0; */
}

#full-menu{
	border-right: 1px solid #cfcfd0;
	border-bottom-left-radius: 5px;
}

#simple-legend{
	border-bottom-right-radius: 5px;
}

/* .radio__input{
	display: none;
}

.radio__input:checked + .radio__label{
	background: #f7f7f7;
	color: #2d2d2d;
	font-weight: 500;
	outline: 1px solid #cfcfd0;
}
.radio__label{
	color: #5b5b5b;
	cursor: pointer;
	font-weight: 400;
	margin: auto;
	padding: 4px 0px;
	text-align: center;
	width: 135px;
}

.radio__label:hover{
	background: #d3d3d4;
	color: #2474c6;
} */

/* #styledLayerControl-utilities button{
	cursor: pointer;
	font-family: 'Roboto',sans-serif;
	font-weight: 500;
} */

#styledLayerControl-utilities .close-btn{
	height: 24px;
	/* width: 24px; */
	/* display: inline-block;
	vertical-align: middle; */
}

.sublayers-hidden{
	display: none;
}

/* #styledLayerControl-utilities svg{
	display: inline-block;
	vertical-align: middle;
}

.close-btn{
	background: none;
	border: none;
}

.close-btn:hover{
	background: none;
	color: #2474c6;
}

.close-btn svg{
	height: 14px;
	width: 14px;
	fill: #868686;
	stroke: #868686;
	stroke-width: 3px;
}

.close-btn:hover svg{
	fill: #2474c6;
}

.legend-toggle svg{
	height: 14px;
	width: 14px;
	fill: #184e85;
}

.legend-toggle{
	border: none;
	border-radius: 3px;
	color: #184e85;
} */

/* .legend-toggle:hover svg{
	fill: #2474c6;
}

.legend-toggle:hover{
	color: #2474c6;
} */

/* #styledLayerControl-utilities button:hover svg{
	fill: #2474c6;
} */

/* #styledLayerControl-utilities button:hover{
	background: none;
	color: #2474c6;
} */

/* #styledLayerControl-utilities a{
	color: #184e85;

} */
/* #styledLayerControl-utilities a:hover{
	color: #2474c6;
} */

.leaflet-touch .leaflet-control-layers-toggle{
    background-clip: padding-box;
	border: 2px solid #b2b2b2;
	box-shadow: none;
	border-radius: 5px;
}

.leaflet-control-layers-toggle{
	background-image: url('../images/layers.svg');
	background-size: 28px;
}

.leaflet-control-layers-toggle:hover{
	background-color: #ebebec;
	box-shadow: none;
}
 /* .leaflet-control-layers:hover {
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	background: #e0e3ec url(images/bgnoise_lg.jpg) repeat top left;
	border-radius: 5px;
}  */

/* Prevents scrollbar from unnessarily appearing when last folder is closed (-jmaurer): */

/* .leaflet-control-layers-overlays {
    margin-bottom: 2px;
} */

.layer-label{
	padding-right: 3px;
}

