.leaflet-touch .leaflet-control-layers {
	border: none;
	box-shadow: 0 0 5px rgb(0 0 0 / 20%);
	margin-right: 10px;
	margin-top: 10px;
}

#layerControl{
	background-color: #fff;
	box-shadow: 0 0 5px rgb(0 0 0 / 20%);
	width: 260px;
	border-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.ac-container{
	width: 100%;
	text-align: left;
	overflow-y: auto;
	overflow-x: auto;
	height: auto;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	/* border-top: 1px solid#b4d2df; */
}

.control-wrapper{
	width: 100%;
	max-height: calc(100vh - 50px);
	overflow: hidden;
	/* -webkit-transition: max-height 0.3s ease-out;
	-moz-transition: max-height 0.3s ease-out;
	-o-transition: max-height 0.3s ease-out;
	-ms-transition: max-height 0.3s ease-out;
	transition:  max-height 0.3s ease-out, visibility 0.3s; */
}

div[id^="leaflet-control-accordion-layers"] > button {
	padding: 0 15px 0 10px;
	position: relative;
	z-index: 20;
	display: block;
	height: 34px;
	cursor: pointer;
	line-height: 34px;
    cursor:pointer;
	overflow: hidden;
    width: 100%;
    margin: 0;
}

.ac-container-accordion{
	box-sizing: border-box;
	border-top: 0.5px solid rgba(20,65,111,0.15);
	border-bottom: 0;
	border-left: 0px;
	border-right: 0px;
	background: #c9eaf8;
	background:#dcf0f7;
	/* color: #184e85; */
	color: #14416f;
	text-align:left;
	/* outline: 1px solid #b4d2df;
	outline: 1px solid #c7e7f2; */
	/* border-bottom: 1px solid #184e85; */
	/* text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
	box-shadow:
		0px 0px 0px 1px rgba(155,155,155,0.3),
		0px 2px 2px rgba(0,0,0,0.1); */
}

#leaflet-control-accordion-layers-0 .ac-container-accordion{
	border-top: 0;
}

.label-icon{
	height: 23px;
	float: left;
	margin-right: 5px;
	padding: 5px 0;
}

.ac-container-accordion h3:after{
	content: '';
	height: 15px;
	width: 15px;
	background-image: url('../images/arrow_up.svg');
	background-size: 14px 14px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	padding: 9px 0;
	float: right;
	opacity: 75%;
}

.ac-container-accordion.accordion-content-hidden h3:after{
	background-image: url('../images/arrow_down.svg');
}

.ac-container-accordion:hover,
.ac-container input.menu + label:hover{
	background: #b2e1f5;
	background: #c9eaf8;
	/* text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
	box-shadow:
		0px 0px 0px 1px rgba(155,155,155,0.3),
		0px 2px 2px rgba(0,0,0,0.1); */
}

.ac-container input.menu{
	display: none;
}

.ac-container-accordion.accordion-content-hidden ~ article.ac-large{
	max-height: 0px;
	padding: 0px;
	/* display: none; */
	visibility: hidden
}

.ac-container article{
	/* background: rgba(255, 255, 255, 0.5); */
	/* margin-top: -2px; */
	overflow: hidden;
	max-height: 0px;
	height: 0px;
    /* padding: 8px 0; */
	padding-right: 5px;
    line-height: 0px;
	position: relative;
	z-index: 10;
	/* -webkit-transition: max-height 0.3s ease-out;
	-moz-transition: max-height 0.3s ease-out;
	-o-transition: max-height 0.3s ease-out;
	-ms-transition: max-height 0.3s ease-out;
	transition:  max-height 0.3s ease-out; */
}

.ac-container-accordion ~ article.ac-large,
.ac-container input.menu:checked ~ article.ac-large{
	height: auto; 
	max-height : calc(100vh - 55px); /* increasing to map height to prevent double scroll bar */
	overflow-y: auto;
    line-height: 18px;
}

.wrapper{
	padding: 4px 0 8px 0;
}

.wrapper.basemap-group{
	padding: 8px 0 8px 0;
}
.ac-container article label {
    display: inline;
    cursor: pointer;
	font-size: 13px;
}

.ac-container .group-toggle-container {
	padding: 0 10px 2px 10px;
    /* display: none; */
}

.group-toggle-container button{
	border: 0px;
	border-radius: 5px;
	background: rgba(20,65,111,0);
	color: #14416f;
	font-size: 11px;
	font-family: 'Roboto Flex',sans-serif;
	font-weight: 600;
	line-height: 1;
	padding: 3px 6px;
	cursor: pointer;
}

.group-toggle-container button:hover,
.group-toggle-container button:focus-visible{
	background: rgba(20,65,111,0.12);
}

.super-label{
	font-size: 11px;
	font-weight: 600;
	letter-spacing: 1px;
	padding-top: 5px;
	padding-left: 4px;
}
/* .ac-container input.menu:checked ~ .group-toggle-container {
    display: block;
	line-height: 1em;
} */

.menu-item-radio{
	font-family: 'Roboto Flex', Arial, sans-serif;
	font-size: 13px;
	line-height:1.5;
	margin-left: 10px;
}

.menu-item-checkbox{
	font-family: 'Roboto Flex', Arial, sans-serif;
	font-size: 13px;
	line-height:1.5;
	margin-left: 10px;
}

.bt_delete{
    position: relative;
	float: right;
	background-image: url(images/delete.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    border: none;
    cursor: pointer;
    height: 16px;
    width: 16px;
    vertical-align: middle;
}

.leaflet-control-layers-expanded {
    padding: 0px;
	border: none;
}

.leaflet-control-layers-selector {
	margin-right: 5px;
}

.active-layer{
	font-weight: 650;
	font-stretch: 90%;
} 

.active-layer div.legend-panel,
.active-layer ~ div.legend-panel{
	display: block;
}

.active-layer div.legend-panel-inline{
	display: inline;
}

.legend-panel{
	font-weight: 400;
	display: none;
	padding: 2.5px 5px;
}

.legend-panel-inline{
	font-weight: 400;
	display: none;
	/* padding-left: 3px; */
}

#styledLayerControl-utilities{
	/* background: #ebebec; */
	background: #e4e4e4;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	/* color: #184e85; */
	border-top: 1px solid #cfcfd0;
	font-family: 'Roboto Flex',sans-serif;
	font-size: 13px;
	font-weight: 700;
	line-height: 1.5;
	padding: 0;
	/* text-align: center;  */
	/* margin: auto;
	display: flex;
	justify-content: space-between; */
}

.legend-radio-group{
	display: inline-flex;
	flex: 1;
	overflow: hidden;
	/* border: 1px solid #ccc; */
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.legend-button{
	background: inherit;
	border: 0px;
	color: #3d3d3d;
	color: #636363;
	cursor: pointer;
	font-family: inherit;
	font-weight: 400;
	font-size: inherit;
	margin: auto;
	padding: 7px 0px;
	text-align: center;
	width: 130px;
	/* outline: 1px solid #cfcfd0; */
}

.legend-button:hover{
	background: #d3d3d4;
	color: #2474c6;
}

/* .legend-button:focus{
	border:2px solid #000;
} */

.active-view:hover{
	background: #fff;
	color: #2d2d2d;
	/* outline: 1px solid #cfcfd0; */
}

.active-view{
	background: #fff;
	/* box-shadow: inset 0 0 0 1px #a5a5a6; */
	color: #2d2d2d;
	font-weight: 600;
	/* outline: 1px solid #cfcfd0; */
}

#full-menu{
	border-right: 1px solid #cfcfd0;
	border-bottom-left-radius: 5px;
}

#simple-legend{
	border-bottom-right-radius: 5px;
}

#styledLayerControl-utilities .close-btn{
	height: 24px;
	/* width: 24px; */
	/* display: inline-block;
	vertical-align: middle; */
}

.sublayers-hidden{
	display: none;
}

.leaflet-touch .leaflet-control-layers-toggle{
    background-clip: padding-box;
	border: 2px solid #b2b2b2;
	box-shadow: none;
	border-radius: 5px;
}

.leaflet-control-layers-toggle{
	background-image: url('../images/layers.svg');
	background-size: 28px;
}

.leaflet-control-layers-toggle:hover{
	background-color: #ebebec;
	box-shadow: none;
}
 /* .leaflet-control-layers:hover {
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	background: #e0e3ec url(images/bgnoise_lg.jpg) repeat top left;
	border-radius: 5px;
}  */

/* Prevents scrollbar from unnessarily appearing when last folder is closed (-jmaurer): */

/* .leaflet-control-layers-overlays {
    margin-bottom: 2px;
} */

.layer-label{
	padding-right: 3px;
}

